<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>CSS grunder</title>
    <style>
      body {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
      }
      .wrapper{
            width:90%;
            margin:auto;
        }
    </style>
  </head>
  <body>
    <div class="wrapper">
    <h1>CSS(Cascading Style Sheets)</h1>
    <h2>Information om CSS</h2>
    <h3>innehåll,struktur och tillgänglighet</h3>
    <p>
      CSS (Cascading Style Sheets) är stilmallar som tillåter både den som
      skapar dokument och den som läser dem att använda sin egen stilmall. I
      praktiken har CSS använts till att formge dokument när det gäller färg,
      teckensnitt, justering av text och objekt mm. En CSS-mall kan styra
      tusentals dokument och det är då enkelt att ändra en layout genom att
      ändra formateringen i CSS-mallen. CSS har tagit HTML ett steg längre och
      möjliggjort formateringar och effekter som inte tidigare fanns i HTML
      standarden. En av fördelarna med CSS är att flera mallar kan användas och
      de har då företräde inbördes så att en "huvudmall" med de övergripande
      formateringarna kan ersättas på en lägre nivå av en "lokal mall" som då
      gäller före huvudmallen. CSS är ett steg mot att separera innehåll och
      struktur i dokument. All formatering bör ske i externa mallar vilket gör
      att mängden kod i själva dokumentet minskar avsevärt och gör att sidorna
      laddas snabbare i webbläsaren. Då samma mall används för varje dokument
      behöver inte webbläsaren läsa in formateringsanvisningar på nytt varje
      gång en ny sida anropas. En målsättning med CSS är att den som läser
      sidorna också ska kunna påverka utseendet av dokumentet när sidorna läses
      i webbläsaren. Vissa grupper har ibland utestängts från att använda många
      platser på Internet. Syn- och hörselskadade och andra har haft svårigheter
      att ta del av innehåll på sidorna trots att det finns programvaror för
      tolkning av innehåll på webbsidor. Tillgänglighet är ett av ledorden när
      framtidens webbplatser ska utformas. Ett av målen för W3C är att göra
      webbaserat innehåll tillgängligt på fler plattformar. Genom att
      strukturera dokumenten på rätt sätt ska alltså både synskadade och
      hörselskadade kunna ta del av innehållet.
    </p>
</div>
  </body>
</html>
